@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(245, 246, 247);
}

.main-img {
  width: 500px;
  height: 450px;
}
